@import './variables';

// Overhead Button
.custom-overhead-button {
    transform: translate(-50%, -50%); 
    position: fixed;
    left: 50%;
    top: 0%;

    background-color: $primary-color;
    border-radius: 50%;
    padding-top: 2.4rem;
    cursor: pointer;
    color: white;
    border: none;
    width: 18rem; 
    height: 6.2rem;  

    font-weight: bold;
    font-size: 1rem;
}
.custom-overhead-button:hover {
    background-color: $primary-color-darker;
}

// Custom Small Button
.custom-small-button {
    background-color: $primary-color;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    border: none;
    width: 5.5rem; 
    height: 2.2rem;
}
.custom-small-button:hover {
    background-color: $primary-color-darker;
}

// Custom Modal
.custom-modal .modal-content {
    background-color: $primary-color;
    border-radius: 6rem;
    min-height: 28rem;
    
    text-align: center;
    color: white;
}

// Custom Div
.centered-div {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 45%;
}