.home-div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-section {
    max-width: 440px;
}


// setData: (state, action) => {
//             const { topic, page } = action.payload
//             const requestUrl = `${import.meta.env.VITE_REACT_API}/api/pixabay/${topic}/${page}`
            
//             axios.get(requestUrl)
//                 .then((response) => {
//                     state.data = response.data.hits
//                 })
//                 .catch((error) => {
//                     console.error(error);
//             });
//         }