.home-div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-section {
    max-width: 440px;
}


// ${import.meta.env.VITE_REACT_API}
//const requestUrl = `http://localhost:5000//api/pixabay/${topic}/${page}`
//const response = await axios.get(requestUrl);
//state.data = response.data